body {
    background-color: rgb(207, 207, 206);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px -1px 69px -15px rgba(0, 0, 0, 0.75);
    text-align: center;
    animation: cardAnimation 1s ease-in-out;
}

@keyframes cardAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

h1 {
    color: rgb(50, 16, 82);
    font-size: 32px;
}

h2 {
    color: rgb(50, 16, 82);
    margin-bottom: 20px;
}

.poll {
    margin-top: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    margin-bottom: 20px; 
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    background-color: #a5a5a5;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover label {
    background-color: rgb(50, 16, 82);
    color: #fafafa;
}

.option input[type="radio"]:checked + label {
    background-color: rgb(50, 16, 82);
    color: #fafafa;
}

button {
    border: none;
    padding: 10px 20px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(50, 16, 82);
    color: #fafafa;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(68, 31, 102);
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(68, 31, 102);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
    margin-bottom: 10px;
    width: 100%;
    
}

.option-text {
    flex: 1;
    color: rgb(50, 16, 82);
}

.bar {
    height: 100%;
    background-color: rgb(68, 31, 102);
    width: 0%; 
    transition: width 0.5s ease-in-out;
}

.percentage {
    flex: none;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(68, 31, 102);
    z-index: 1;
    position: relative;
}
